<%= render "devise/shared/navbar" %>
<%= render "devise/shared/notice" %>
<div class="flex min-h-full items-center justify-center py-12 px-4 sm:px-6 lg:px-8" style="height:auto; margin-bottom:0%;margin-top:0%">
<div class="bg-white rounded-lg shadow-lg p-4" style="margin-right:15%">
  <h1 class="text-xl font-bold mb-4">Pay Your EMI</h1>
    <div class="grid grid-cols-2 gap-4" >
      <div>
        <p class="font-medium text-sm mb-0">Month No. :</p>
        <p><%= @emi.month %></p>
      </div>

      <div>
        <p class="font-medium text-sm mb-1">Principal Amount of EMI:</p>
        <p><%= @emi.principal.round(2) %></p>
      </div>

      <div>
        <p class="font-medium text-sm mb-1">Interest Amount of EMI:</p>
        <p><%= @emi.interest_amount.round(2) %></p>
      </div>

      <div>
        <%= form_for @emi, url: edit_emi_path(@emi), method: :patch do |f| %>

        <div>
          <%= f.label :paid_at %>
          <%= f.date_select :paid_at %>
        </div>

        <div>
          <%= f.label :status %>
          <%= f.select :status, options_for_select(['paid'], @emi.status) %>
        </div>

        <%= f.submit 'Save' %>
      <% end %>
      </div>


      <div>
        <p class="font-medium text-sm mb-1">Due At:</p>
        <p><%= @emi.due_at %></p>
      </div>

      <div>
        <p class="font-medium text-sm mb-1">Total Amount:</p>
        <p><%= @emi.amount.round(2) %></p>
      </div>
    </div>
  </div>
</div>
<%= render "devise/shared/footer" %>