<%= render "devise/shared/navbar" %>
<br><br><br>
<div class="flex min-h-full items-center justify-center py-12 px-4 sm:px-6 lg:px-8" style="height:auto; margin-bottom:0%;margin-top:0%;">
  <div class="bg-white rounded-lg shadow-lg p-4" style="width:50%">
  <h1 class="text-xl font-bold mb-4">Investor Details</h1>
    <div class="grid grid-cols-2 gap-3" style="height: auto; width: auto;" >
      <div>
        <p class="font-medium text-sm mb-0">Name:</p>
        <p><%= @investor.name %></p>
      </div>

      <div>
        <p class="font-medium text-sm mb-0">Email:</p>
        <p><%= @investor.email %></p>
      </div>

      <div>
        <p class="font-medium text-sm mb-1">Contact:</p>
        <p><%= @investor.contact_no %></p>
      </div>

      <div>
        <p class="font-medium text-sm mb-1">Address:</p>
        <p><%= @investor.address.street %></p>
      </div>
      
      <div>
        <p class="font-medium text-sm mb-1">City:</p>
        <p><%= @investor.address.city %></p>
      </div>

      <div>
        <p class="font-medium text-sm mb-1">Pincode:</p>
        <p><%= @investor.address.zipcode %></p>
      </div>

      <div>
        <p class="font-medium text-sm mb-1">Aadhra Card Debgtails:</p>
        <p><%= @investor.document.aadhar_card %></p>
      </div>

      <div>
        <p class="font-medium text-sm mb-1">Pancard:</p>
        <p><%= @investor.document.pancard %></p>
      </div>
    </div>
  </div>
</div>
<div class="flex min-h-full items-center justify-center py-12 px-4 sm:px-6 lg:px-8" style="height:auto; margin-bottom:10%">
  <div class="w-full max-w-md space-y-8">
    
      <!--<img class="mx-auto h-12 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="Your Company">-->
      <h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900">Add Amount</h2>
      <p class="mt-2 text-center text-sm text-gray-600">
      </p>
    
    <%= form_with(model: [@investor, @investor_transaction], url: investor_investor_transactions_path(@investor)) do |form| %>
  <div class="-space-y-px rounded-md shadow-sm">
  <% unless params[:type] == "withdraw" %>
    <div>
      <%= form.label :amount_added, class: "sr-only" %>
      <%= form.text_field :amount_added, autofocus: true, class: "relative block w-full appearance-none rounded-none rounded-t-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm", placeholder: "Add Amount"%>
    </div><br>
    <%else%>
      <%= form.label :amount_withdrawal, class: "sr-only" %>
      <%= form.text_field :amount_withdrawal, autofocus: true, class: "relative block w-full appearance-none rounded-none rounded-t-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm", placeholder: "Withdraw Amount"%>
      </div><br>
    <%end%>
    <%form.hidden_field :investor_id, value: params[:investor_id] %>
    <%= form.hidden_field :type, value: params[:type] %>
    <button type="submit" class="inline-flex justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"><%= form.submit %> </button>
  </div>
<% end %>
  </div>
</div>

<%= render "devise/shared/footer" %>