<%= render "devise/shared/navbar" %>
<%= render "devise/shared/notice" %>
<section class="container px-4 mx-auto" style="height:auto; margin-bottom:8%;margin-top:5%">
  <div class="flex flex-col" >
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
        <div class="overflow-hidden border border-gray-200 dark:border-gray-700 md:rounded-lg">
          <header class="px-5 py-4 border-b border-gray-100">
            <h2 class="font-semibold text-gray-800">Customers </h2><small>Total Customer :- <%= @customers.count %></small>
            <a href="/customers/new" class='bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded' style="margin-left: 65em;">Create Customer</a>
          </header >
          <table class="table-auto w-full" style="text-align:center" >
            <thead class="bg-gray-50 dark:bg-gray-800" >
              <tr>
                <th scope="col" class="px-4 py-3.5 text-sm font-normal text-center rtl:text-right text-gray-500 dark:text-gray-400">
                  S.NO.
                </th>
                <th scope="col" class="px-4 py-3.5 text-sm font-normal text-center rtl:text-right text-gray-500 dark:text-gray-400">
                  Name
                </th>
                <th scope="col" class="px-4 py-3.5 text-sm font-normal text-center rtl:text-right text-gray-500 dark:text-gray-400">
                  Mobile No.
                </th>
                <th scope="col" class="px-4 py-3.5 text-sm font-normal text-center rtl:text-right text-gray-500 dark:text-gray-400">
                  No. of Loan Sanctioned
                </th>
                <th scope="col" class="px-4 py-3.5 text-sm font-normal text-center rtl:text-right text-gray-500 dark:text-gray-400">
                  Total Amount of all loans
                </th>
                <th scope="col" class="px-4 py-3.5 text-sm font-normal text-center rtl:text-right text-gray-500 dark:text-gray-400">
                  Pending EMI's of all loans
                </th>
                <th scope="col" class="px-4 py-3.5 text-sm font-normal text-center rtl:text-right text-gray-500 dark:text-gray-400">
                  Status
                </th>
                <th scope="col" class="px-4 py-3.5 text-sm font-normal text-center rtl:text-right text-gray-500 dark:text-gray-400">
                  Guarentor Name
                </th>
                 <th scope="col" class="px-4 py-3.5 text-sm font-normal text-center rtl:text-right text-gray-500 dark:text-gray-400">
                  New loan
                </th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200 dark:divide-gray-700 dark:bg-gray-900">
              <%count=1%>
              <% @customers.each do |customer| %>
              <tr class="px-4 py-4 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap" style='height: 60px;'>  
                <td><%= count %></td>
                <% count=count+1 %>
                <td><%= link_to customer.name, customer_path(customer) %></td>
                <td><%= customer.contact %></td>
                <% loan = Loan.find_by(customer_id: customer.id) %>
                <% if loan == nil %>
                  <%for i in (1...5) do%>
                    <td>Nil</td>
                  <%end%>
                <%else%>
                  <td><%= loan_count = Loan.where(customer_id: customer.id).count %></td>
                  <td>Rs. <%= loan_amount = Loan.where(customer_id: customer.id).sum("amount::numeric") %></td>
                  <td>Rs. <%= loan_amount = Loan.where(customer_id: customer.id).sum("total_payment").round(2) %></td>
                  <td class="px-4 py-4 text-sm font-medium text-gray-700 whitespace-nowrap">
                  <% if customer.loans.any? { |loan| loan.status == 'pending' } %>
                  <div class="inline-flex items-center px-3 py-1 rounded-full gap-x-2 text-red-500 bg-red-100/60 dark:bg-gray-800">
                    Pending
                  <% else %>
                  <div class="inline-flex items-center px-3 py-1 rounded-full gap-x-2 text-emerald-500 bg-emerald-100/60 dark:bg-gray-800">
                    Completed
                  <% end %>
                  </td>
                  </div>
                <%end%>
                <% guarentor = Guarentor.find_by(customer_id: customer.id)%>
                <% if guarentor == nil %>
                  <td><%= link_to 'Add Guarentor', new_customer_guarentor_path(customer_id: customer.id), class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded' %>
                  </td>
                <%else%>
                  <td><%= guarentor&.name %></td>
                <%end%>
                <td><%= link_to 'New Loan', new_customer_loan_path(customer_id: customer.id), class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded' %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
          <div class="flex justify-end mt-4 space-x-2">
            <%= will_paginate @customers,
            previous_label: '<span class="px-2 py-1 rounded-md bg-gray-200 hover:bg-gray-300">&laquo; Previous</span>',
            next_label: '<span class="px-2 py-1 rounded-md bg-gray-200 hover:bg-gray-300">Next &raquo;</span>'%>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render "devise/shared/footer" %>
