<%= render "devise/shared/navbar" %>
<br><br>
<div class="hidden sm:flex sm:justify-end">
  <div class="flex space-x-5">
    <a href="/customers/new" class="bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium" aria-current="page" style="margin-right: 3em;">Add Customers</a>
  </div>
</div>
<br>
<section class="container px-4 mx-auto">
  <div class="flex flex-col" >
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
        <div class="overflow-hidden border border-gray-200 dark:border-gray-700 md:rounded-lg">
          <header class="px-5 py-4 border-b border-gray-100">
            <h2 class="font-semibold text-gray-800">Customers</h2>
            
          </header>
          <table class="table-auto w-full">
            <thead class="bg-gray-50 dark:bg-gray-800">
              <tr>
                <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                  S.NO.
                </th>
                <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                  Name
                </th>
                <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                  Email
                </th>
                <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                  Loan Amount
                </th>
                <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                  No. of EMI's
                </th>
                <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                  Pending EMI's
                </th>
                <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                  ROI in %
                </th>
                <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                  Status
                </th>
                <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                  Guarentor Name
                </th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200 dark:divide-gray-700 dark:bg-gray-900">
              <%a=1%>
              <% @customers.each do |customer| %>
              <tr class="px-4 py-4 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap">  
                <td style="text-align:center"><%= a %></td>
                <% a=a+1 %>
                <td><%= customer.name %></td>
                <td><%= customer.email %></td>
                <% loan = Loan.find_by(customer_id: customer.id) %>
                <td><%= loan.amount %></td>
                <td><%= loan.no_of_emi %></td>
                <td><%= loan.pending_emi %></td>
                <td><%= loan.rate_of_interest %></td>
                <td class="px-4 py-4 text-sm font-medium text-gray-700 whitespace-nowrap">
                <%if loan.status == "completed"%>
                  <div class="inline-flex items-center px-3 py-1 rounded-full gap-x-2 text-emerald-500 bg-emerald-100/60 dark:bg-gray-800">
                <%else%>
                  <div class="inline-flex items-center px-3 py-1 rounded-full gap-x-2 text-red-500 bg-red-100/60 dark:bg-gray-800">
                <%end%>
                    <h2 class="text-sm font-normal"><%= loan.status %></h2>
                  </div>
                </td>
                <% guarentor = Guarentor.find(loan&.guarentor_id)%>
                <td><%= guarentor&.name %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>


<%= render "devise/shared/footer" %>
