<%= render "devise/shared/navbar" %>
<%= render "devise/shared/notice" %>

<div class="flex justify-center py-12">
  <div class="w-full max-w-2xl space-y-8 bg-white rounded-lg shadow-lg p-4 m-0>
    <h1 class="text-xl font-bold mb-4">Customer Details</h1>
    <div style="margin-left:25%">
      <% if @customer.profile_image.present? %>
        <%= image_tag @customer.profile_image, class: 'h-44 w-44 object-cover rounded-full'  %>
      <% end %>
    </div>
    <div class="grid grid-cols-2 gap-6" >
      <div>
        <p class="font-medium text-sm mb-0">Email:</p>
        <p><%= @customer.email %></p>
      </div>

      <div>
        <p class="font-medium text-sm mb-1">Contact:</p>
        <p><%= @customer.contact %></p>
      </div>

      <div>
        <p class="font-medium text-sm mb-1">Address:</p>
        <p><%= @customer.address.street %></p>
      </div>
      
      <div>
        <p class="font-medium text-sm mb-1">City:</p>
        <p><%= @customer.address.city %></p>
      </div>

      <div>
        <p class="font-medium text-sm mb-1">Pincode:</p>
        <p><%= @customer.address.zipcode %></p>
      </div>

      <div>
        <p class="font-medium text-sm mb-1">Aadhra Card Details:</p>
        <p><%= @customer.document.aadhar_card %></p>
        <% if @customer.document.aadhar_card_image.present? %>
          <%= image_tag @customer.document.aadhar_card_image, class: 'h-24 w-44 object-cover'  %>
        <% end %>
      </div>

      <div>
        <p class="font-medium text-sm mb-1">Pancard:</p>
        <p><%= @customer.document.pancard %></p>
        <% if @customer.document.pan_card_image.present? %>
          <%= image_tag @customer.document.pan_card_image, class: 'h-24 w-44 object-cover'  %>
        <% end %>
      </div>
    </div>
  </div>

</div>

<section class="container px-4 mx-auto" style="height:auto; margin-bottom:5%;margin-top:5%">
  <%= render "devise/shared/loans" %>
</section>

<%= render "devise/shared/footer" %>
