<div class="flex flex-row">
  <div class="w-1/4 px-2">
    <div class="rounded-md border border-gray-400 shadow-lg bg-green-700">
      <div class="p-3 flex items-center">
        <div class="flex-shrink-0">
          <span class="text-green-500 text-2xl font-medium">$</span>
        </div>
        <div class="ml-7">
          <p class="text-base leading-5 font-medium text-gray-300">Total Balance</p>
          <p class="text-lg leading-6 font-medium text-gray-100"><%= @investor %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="w-1/4 px-2">
    <div class="rounded-md border border-gray-400 shadow-lg bg-blue-700">
      <div class="p-3 flex items-center">
        <div class="flex-shrink-0">
          <svg class="h-6 w-6 text-green-500" fill="currentColor" viewBox="0 0 20 20">
            <path fill-rule="evenodd" d="M10 3l-7 7v7h4v-4h6v4h4v-7l-7-7zm2 10v-4h-4v4h4z" clip-rule="evenodd" />
          </svg>
        </div>
        <div class="ml-7">
          <p class="text-base leading-5 font-medium text-gray-300">Remaining Investor Balance</p>
          <p class="text-lg leading-6 font-medium text-gray-100"><%= (@investor - @loan) %></p>
        </div>
      </div>
    </div>
  </div>

  <div class="w-1/4 px-2">
    <div class="rounded-md border border-gray-400 shadow-lg bg-yellow-700">
      <div class="p-3 flex items-center">
        <div class="flex-shrink-0">
          <span class="text-green-500 text-2xl font-medium">&#x20B9;</span>
        </div>
        <div class="ml-7">
          <p class="text-base leading-5 font-medium text-gray-300">Total Collection Amount</p>
          <p class="text-lg leading-6 font-medium text-gray-100"><%= @loan %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="w-1/4 px-2">
    <div class="rounded-md border border-gray-400 shadow-lg bg-red-700">
      <div class="p-3 flex items-center">
        <div class="flex-shrink-0">
          <span class="text-green-500 text-2xl font-medium">%</span>
        </div>
        <div class="ml-7">
          <p class="text-base leading-5 font-medium text-gray-300">Total Interest</p>
          <p class="text-lg leading-6 font-medium text-gray-100"><%= @total_interest %></p>
        </div>
      </div>
    </div>
  </div>
</div><br>
<div class="flex flex-row">
  <div class="w-1/4 px-2">
    <div class="rounded-md border border-gray-400 shadow-lg bg-gray-500">
      <div class="p-3 flex items-center">
        <div class="flex-shrink-0">
          <svg class="h-6 w-6 text-green-500" fill="currentColor" viewBox="0 0 384 512">
            <path d="M368 152V48a24 24 0 0 0-24-24H24A24 24 0 0 0 0 48v416a24 24 0 0 0 24 24h336a24 24 0 0 0 24-24V176a24 24 0 0 0-24-24zm-32 224H48V64h288zm-96-88a48 48 0 1 1 48-48 48 48 0 0 1-48 48z"/>
          </svg>
        </div>
        <div class="ml-7">
          <p class="text-base leading-5 font-medium text-gray-300">Total File Charge</p>
          <p class="text-lg leading-6 font-medium text-gray-100"><%= @file_charge %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="w-1/4 px-2">
    <div class="rounded-md border border-gray-400 shadow-lg bg-pink-800">
      <div class="p-3 flex items-center">
        <div class="flex-shrink-0">
          <svg class="h-6 w-6 text-green-500" fill="currentColor" viewBox="0 0 20 20">
            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM7.732 5.732a1 1 0 10-1.414 1.414l2.828 2.828-2.828 2.828a1 1 0 001.414 1.414l2.828-2.828 2.828 2.828a1 1 0 001.414-1.414L12.414 9l2.828-2.828a1 1 0 00-1.414-1.414L10 6.586 7.732 4.314z" clip-rule="evenodd"/>
          </svg>
        </div>
        <div class="ml-3">
          <p class="text-base leading-5 font-medium text-gray-300">Total Penalty</p>
          <p class="text-lg leading-6 font-medium text-gray-100"><%= @penalty %></p>
        </div>
      </div>
    </div>
  </div>
</div><br>
