<%= render "devise/shared/navbar" %>
<%= render "devise/shared/notice" %>
<div class="flex min-h-full items-center justify-center py-12 px-4 sm:px-6 lg:px-8" style="height:auto; margin-bottom:0%;margin-top:0%;">
  <div class="bg-white rounded-lg shadow-lg p-4" style="width:50%">
  <h1 class="text-xl font-bold mb-4">Investor Details</h1>
    <div class="grid grid-cols-2 gap-3" style="height: auto; width: auto;" >
      
      <div>
        <p class="font-medium text-sm mb-0">Name:</p>
        <p><%= @investor.name %></p>
      </div>

      <div>
        <p class="font-medium text-sm mb-0">Email:</p>
        <p><%= @investor.email %></p>
      </div>

      <div>
        <p class="font-medium text-sm mb-1">Contact:</p>
        <p><%= @investor.contact_no %></p>
      </div>

      <div>
        <p class="font-medium text-sm mb-1">Address:</p>
        <p><%= @investor.address.street %></p>
      </div>
      
      <div>
        <p class="font-medium text-sm mb-1">City:</p>
        <p><%= @investor.address.city %></p>
      </div>

      <div>
        <p class="font-medium text-sm mb-1">Pincode:</p>
        <p><%= @investor.address.zipcode %></p>
      </div>

      <div>
        <p class="font-medium text-sm mb-1">Aadhra Card Debgtails:</p>
        <p><%= @investor.document.aadhar_card %></p>
      </div>

      <div>
        <p class="font-medium text-sm mb-1">Pancard:</p>
        <p><%= @investor.document.pancard %></p>
      </div>
    </div>
  </div>
</div>

<section class="container px-4 mx-auto" style="height:auto;margin-bottom:10%; ">
  <div class="flex flex-col" >
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
        <div class="overflow-hidden border border-gray-200 dark:border-gray-700 md:rounded-lg">
          <header class="px-5 py-4 border-b border-gray-100">
            <h1 class="font-semibold text-gray-800">Transactions </h1><small>No. of Transaction :- <%= @investor_transactions.length %></small>
            <%= link_to "Debit History", show_by_debit_investor_path(id: @investor.id), class: 'bg-gray-900 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded', style: "margin-left: 40em;" %>
            <%= link_to "Add Money", new_investor_investor_transaction_path(investor_id: @investor.id), class: 'bg-gray-900 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded' %>
            <%= link_to "Withdraw Money",new_investor_investor_transaction_path(investor_id: @investor.id, :type => "withdraw" ) , class: 'bg-gray-900 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded' %>
          </header >
          <table class="table-auto w-full" style="text-align:center" >
            <thead class="bg-gray-50 dark:bg-gray-800" >
              <tr>
                <th scope="col" class="px-4 py-3.5 text-md font-normal text-center rtl:text-right text-gray-500 dark:text-gray-400">
                  <%= link_to "Date", :sort => "created_at"%>
                </th>
                <th scope="col" class="px-4 py-3.5 text-md font-normal text-center rtl:text-right text-gray-500 dark:text-gray-400">
                  Amount Credited
                </th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200 dark:divide-gray-700 dark:bg-gray-900">
              <% @investor_transactions.each do |investor_transaction| %>
              <% if investor_transaction.amount_added != nil%>
              <tr class="px-4 py-4 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap" style='height: 60px;'> 
                <td><%= investor_transaction.created_at %></td>
                <td>Rs. <%= investor_transaction&.amount_added %></td>
              </tr>
              <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render "devise/shared/footer" %>