<%= render "devise/shared/navbar" %>
<%= render "devise/shared/notice" %>
<div class="flex min-h-full items-center justify-center py-12 px-4 sm:px-6 lg:px-8" style="height:auto; margin-bottom:0%;margin-top:0%">
<div class="bg-white rounded-lg shadow-lg p-4" style="margin-right:15%">
  <h1 class="text-xl font-bold mb-4">Customer Details</h1>
    <div class="grid grid-cols-1 gap-5" style="height: 500px; width: 200px;" >
      <div>
        <p class="font-medium text-sm mb-0">Email:</p>
        <p><%= @customer.email %></p>
      </div>

      <div>
        <p class="font-medium text-sm mb-1">Contact:</p>
        <p><%= @customer.contact %></p>
      </div>

      <div>
        <p class="font-medium text-sm mb-1">Address:</p>
        <p><%= @customer.address.street %></p>
      </div>
      
      <div>
        <p class="font-medium text-sm mb-1">City:</p>
        <p><%= @customer.address.city %></p>
      </div>

      <div>
        <p class="font-medium text-sm mb-1">Pincode:</p>
        <p><%= @customer.address.zipcode %></p>
      </div>

      <div>
        <p class="font-medium text-sm mb-1">Aadhra Card Details:</p>
        <p><%= @customer.document.aadhar_card %></p>
      </div>

      <div>
        <p class="font-medium text-sm mb-1">Pancard:</p>
        <p><%= @customer.document.pancard %></p>
      </div>

    </div>
  </div>
  <div class="w-full max-w-md space-y-8">
    <div>
      <!--<img class="mx-auto h-12 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="Your Company">-->
      <h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900">Add Guarentor for <%=@customer.name%></h2>
      <p class="mt-2 text-center text-sm text-gray-600">
      </p>
    </div>
    <%= form_with model: [@customer, @guarentor], local: true do |form| %>
      <div>
        <%= form.label :name, class: "sr-only" %>
        <%= form.text_field :name , autofocus: true, class: "relative block w-full appearance-none rounded-none rounded-t-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm", placeholder: "Guarentor Name"%>
        <%= show_error_message(@guarentor, :name) %>
      </div><br>

      <%= form.hidden_field :customer_id, value: @customer.id %>

      <div>
        <%= form.label :email, class: "sr-only" %>
        <%= form.text_field :email , autofocus: true, class: "relative block w-full appearance-none rounded-none rounded-t-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm", placeholder: "Guarentor Email"%>
        <%= show_error_message(@guarentor, :email) %>
      </div><br>

      <div>
        <%= form.label :contact, class: "sr-only" %>
        <%= form.text_field :contact , autofocus: true, class: "relative block w-full appearance-none rounded-none rounded-t-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm", placeholder: "Guarentor contact"%>
        <%= show_error_message(@guarentor, :contact) %>
      </div><br>

      <%= form.fields_for :address do |address_form| %>
        <div>
          <%= address_form.label :street, class: "sr-only" %>
          <%= address_form.text_field :street , autofocus: true, class: "relative block w-full appearance-none rounded-none rounded-t-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm", placeholder: "Guarentor Address"%>
          <%= show_error_message(@guarentor.address, :street) %>
        </div><br>

        <div>
          <%= address_form.label :city, class: "sr-only" %>
          <%= address_form.text_field :city , autofocus: true, class: "relative block w-full appearance-none rounded-none rounded-t-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm", placeholder: "Guarentor City"%>
          <%= show_error_message(@guarentor.address, :city) %>
        </div><br>

        <div>
          <%= address_form.label :state, class: "sr-only" %>
          <%= address_form.text_field :state , autofocus: true, class: "relative block w-full appearance-none rounded-none rounded-t-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm", placeholder: "Guarentor State"%>
          <%= show_error_message(@guarentor.address, :state) %>
        </div><br>

        <div>
          <%= address_form.label :zipcode, class: "sr-only" %>
          <%= address_form.text_field :zipcode , autofocus: true, class: "relative block w-full appearance-none rounded-none rounded-t-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm", placeholder: "Guarentor Pincode"%>
          <%= show_error_message(@guarentor.address, :zipcode) %>
        </div><br>
      <% end %>

      <%= form.fields_for :document do |document_form| %>
        <div>
          <%= document_form.label :aadhar_card, class: "sr-only" %>
          <%= document_form.text_field :aadhar_card , autofocus: true, class: "relative block w-full appearance-none rounded-none rounded-t-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm", placeholder: "Guarentor aadhar card"%>
          <%= show_error_message(@guarentor.document, :aadhar_card) %>
        </div><br>

        <div>
          <%= document_form.label :pancard, class: "sr-only" %>
          <%= document_form.text_field :pancard , autofocus: true, class: "relative block w-full appearance-none rounded-none rounded-t-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm", placeholder: "Guarentor Pancard"%>
          <%= show_error_message(@guarentor.document, :pancard) %>
        </div><br>
      <%end%>

        <button type="submit" class="inline-flex justify-center rounded-md border border-transparent bg-gray-900 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-gray-800 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"><%= form.submit %> </button>

    <% end %>
    </div>
  </div>
</div>
<%= render "devise/shared/footer" %>

